adjustText
asttokens
attrs
backcall
click
colorama
croniter
cycler
debugpy
decorator
dill
entrypoints
executing
fonttools
iniconfig
ipykernel
ipython
jedi
joblib
json-tricks
jupyter-client
jupyter-core
kiwisolver
lxml
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
packaging
pandas
pareto
parso
pexpect
pickleshare
Pillow
plotly
pluggy
prompt-toolkit
psutil
ptyprocess
pure-eval
py
Pygments
pygraphviz
pyparsing
pytest
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
sympy
tenacity
termcolor
threadpoolctl
tomli
tornado
traitlets
wcwidth
